# Explore here

In [16]:
# Your code here
import pandas as pd

# First we read the CSV
total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/data-preprocessing-project-tutorial/main/AB_NYC_2019.csv")

# Then we store the raw data inside the data/raw directory.
total_data.to_csv('/workspaces/ginotomasd-machine-learning-python-template/data/raw/total_data.csv', index=False)

# Now it's time to start processing the data, first, we observe the shape(rows & columns)
total_data.shape
    # The dataframe contains 48895 rows, or values and 16 variables.

# We need to see what type of information is in there
# total_data.info()

# Now we can see that there are several variables that have Null values, the biggest ones being 'last_review' and 'reviews_per_month'
# There are 16 variables total, separated into categorial and numerical, 8 for reach category.

# Check for relevant duplicates:
print('The number of duplicate names is:', total_data['name'].duplicated().sum())
print(' The number of duplicate host ids is:', total_data['host_id'].duplicated().sum())

# 'There will be duplicate names because there is a possibility that someone names their AirBnB just like another person'
# 'Same for host ids, the only difference is there can be one person/entity with multiple AirBnBs listed'

# Drop all information that's not useful to the analysis:

total_data.drop(['id', 'name', 'host_name', 'reviews_per_month', 'last_review'], axis=1, inplace=True)
total_data.head()

The number of duplicate names is: 989
 The number of duplicate host ids is: 11438

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,6,365
1,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2,355
2,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1,365
3,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,1,194
4,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,1,0